.loginHeading {
  margin-top: 4rem;
}

.signupHeading {
  margin-top: 2rem;
}

.loginInputContainer {
  margin-top: 0.5rem;
}

.loginInput {
  width: 100%;
}

.loginButton {
  margin: auto;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  border: none;
}

.loginSignupLink {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  font-family: var(--body-font);
  font-size: var(--body-text-size);
}

.signUpLink {
  color: var(--kale);
}

.toastMessage {
  font-family: var(--body-font);
  font-size: var(--body-text-size);
  background-color: var(--kale);
  color: var(--oatmeal-100);
}

.Toastify__progress-bar {
  background: var(--banana); /* Change progress bar color */
}

.Toastify__toast-icon {
  color: var(--oatmeal-100); /* Change icon color */
}
