/*----------------------Natalia---------------------------*/

.challengePageHeadings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.challengePageHeadings img {
  width: 200px;
  height: auto;
}

.challengePageHeadings > * {
  margin-bottom: 4px;
}

.challengePageDifficulty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--body-font);
  align-items: center;
  margin: 8px 0px 16px 0px;
}

.boldSpan {
  font-weight: var(--font-weight-bold);
}

.challengeXPLabel {
  padding: 4px 20px;
  background-color: var(--lime);
  color: var(--eggplant);
  border-radius: 16px;
}

.friendsChallengePage {
  align-items: center;
  display: flex;
  margin-top: 8px;
}
.friendsChallengePage img {
  width: 40px;
  height: auto;
  border-radius: 50%;
  margin: 0px 8px 0px 0px;
}
.buttonsChallengePage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 20px;
}

.buttonsChallengePageColumn {
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
  justify-content: center;
  align-items: center;
  margin: 20px 0px 80px 0px;
}

.completeBtn {
  width: 180px;
  padding: 10px 0px;
}
.removeBtnTertiary {
  font-size: 12px;
  padding: 14px 0px;
}

/*modal code*/
.modalRemove,
.modalFriends {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modalRemoveContent,
.modalFriendsContent {
  background-color: var(--oatmeal-100);
  margin: 70% auto; /* 70% from the top and centered */
  padding: 20px;
  border-radius: 8px;
  width: 260px; /* Could be more or less, depending on screen size */
  align-items: center;
}
.closeModalRemove {
  display: flex;
  justify-content: end;
}
.modalRemoveText p {
  text-align: center;
  width: 220px;
  margin: 10px 0px 20px 0px;
}
.modalRemoveText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.modalBtnHorizontal {
  display: flex;
  flex-direction: row;
}
.modalBtnHorizontal > * {
  margin: 10px;
}
.btnSmall {
  width: 50px !important;
}

.confirmation {
  display: none;
}
