.button-green {
  border-radius: 8px;
  width: 152px;
  padding: 8px 0px;
  text-align: center;
  text-decoration: none;
  font-size: var(--body-text-size);
  font-weight: var(--font-weight-bold);
  font-family: var(--body-font);
  color: var(--eggplant-900);
  background-color: var(--lime);
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.button-yellow {
  background-color: var(--banana);
}

.button-outline {
  border-color: var(--lime);
}
