
.button-green {
    border-radius: 8px;
    text-decoration: none;
    padding: 0.6em 1.2em;
    font-size: var(--body-text-size);
    font-weight: var(--font-weight-bold);
    font-family: var(--body-font);
    color: var(--eggplant-900);
    background-color: var(--lime);
    cursor: pointer;
    box-shadow: var(--box-shadow);
  
  }

  .button-yellow {
    background-color: var(--banana);
  }
  
  .button-outline {
    border: 2px solid var(--green-bean);
    background-color: var(--oatmeal-100);
    color:var(--green-bean);
  }

  .home-challenge-button {
    padding-left: 20px !important;
  }