.button-green {
  border-radius: 8px;
  padding: 10px;
  width: 120px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: var(--body-text-size);
  font-weight: var(--font-weight-bold);
  font-family: var(--body-font);
  color: var(--eggplant-900);
  background-color: var(--lime);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
}

  .button-yellow {
    background-color: var(--banana);
  }

  .button-kale {
    background-color: var(--kale);
    color: var(--oatmeal-100);
  }

.button-outline {
  border: 2px solid var(--green-bean);
  background-color: var(--oatmeal-100);
  color: var(--green-bean);
  padding: 8px;
}

.home-challenge-button {
  display: block;
  width: auto;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}
