.recipesText {
  margin-bottom: 1rem;
}

.recipesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 7rem;
}

.recipesFixed {
  position: sticky;
  top: 0;
  background-color: var(--oatmeal-100);
}
