.home-header-container {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    gap:2rem;
    padding-left:1rem;
    padding-right:1rem;
}

.home-logo {
    width:50%;
}