.profile-post-card {
  box-shadow: var(--box-shadow);
  height: 210px;
  display: inline-block;
  vertical-align: top;
  border-radius: 8px;
  margin-bottom: 10px; /* Add margin to the bottom */
}

.profile-post-card-image {
  width: 100%;
  height: 136px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.profile-post-card-bold {
  font-weight: bold;
  height: 2.9rem;
  padding: 0 6px;
}
