

.challenge-image {
    height:7rem;
}

.myChallengeSlider{
    display:flex;
    flex-direction:row;
    overflow-y:auto;
    white-space: nowrap;
    padding:0;
    margin:0;
    gap:0.5rem;
    height:13rem;
}

.myChallengeSlider::-webkit-scrollbar {
    width: 0; /* Webkit (Chrome, Safari) */
    display: none; /* Hide scrollbar */
}

.challenge-card-container {
    display:flex;
    flex-direction: column;
    height:13rem;
}

.challenge-card {
    display:flex;
    flex-direction: row;
    align-items:center;
    background-color: var(--lime);
    padding:1rem;
    height:auto;
    width:18rem;
    border-radius:8px 8px 0px 0px;
    gap:0.5rem;
}

.challenge-card p {
    text-wrap:wrap;
}

.SmallChallengeSlider{
    display:flex;
    flex-direction:row;
    overflow-y:auto;
    white-space: nowrap;
    padding:0;
    margin:0;
    gap:0.5rem;
    height:13rem;
}

.SmallChallengeSlider::-webkit-scrollbar {
    width: 0; /* Webkit (Chrome, Safari) */
    display: none; /* Hide scrollbar */
}

.challenge-card-small {
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--banana-300);
    padding:0.5rem;
    height:9rem;
    width:9rem;
    border-radius:8px;
    gap:0.5rem;
    text-align: center;
}

.challenge-card-small p {
    text-wrap:wrap;
}

.challenge-card-small .challenge-image {
    height:5rem;
}


.challenge-card-bottom {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:8px;
    background-color: #98BD55;
    border-radius:0px 0px 8px 8px;
}

.challengeCardCompleted {
    display:flex;
    flex-direction: row;
    gap:8px;
    border-radius: 8px;
    text-decoration: none;
    padding: 0.4rem 0.9rem;
    color: var(--oatmeal-100);
    background-color: var(--kale);
    cursor: pointer;
}

.challengeCardCompleted p {
    font-weight:var(--font-weight-bold);
    font-size: var(--body-text-small-size)
}


