

.challenge-image {
    height:6rem;
}

.myChallengeSlider{
    display:flex;
    flex-direction:row;
    overflow-y:auto;
    white-space: nowrap;
    padding:0;
    margin:0;
    gap:0.5rem;
    height:fit-content;
    margin-bottom:1.5rem;
}

.myChallengeSlider .coming-soon {
    margin-right:0;
    gap:0;

}

.myChallengeSlider::-webkit-scrollbar {
    width: 0; /* Webkit (Chrome, Safari) */
    display: none; /* Hide scrollbar */
}

.challenge-card-container {
    display:flex;
    flex-direction: column;
    height:fit-content;
}

.challenge-card {
    display:flex;
    flex-direction: row;
    align-items:center;
    background-color: var(--lime);
    padding:1rem;
    width:18rem;
    border-radius:8px 8px 0px 0px;
    gap:0.5rem;
    margin-top:0.5rem;
    box-shadow: var(--box-shadow);
    overflow-y: none;
}


.friendsChallengeCard {
        align-items: center;
        display: flex;
        margin-top: 8px;
      }

.friendsChallengeCard img {
        width: 20px;
        height: auto;
        border-radius: 50%;
        margin: 0px 8px 0px 0px;
      }

.friendsChallengeCard p {
    font-size: var(--body-text-small-size);
}

.SmallChallengeSlider{
    display:flex;
    flex-direction:row;
    overflow-y:auto;
    white-space: nowrap;
    padding:0;
    margin:0;
    gap:0.5rem;
    height: 10.5rem;
    margin-bottom:0.5rem;
}

.SmallChallengeSlider::-webkit-scrollbar {
    width: 0; /* Webkit (Chrome, Safari) */
    display: none; /* Hide scrollbar */
}

.challenge-card-small {
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--banana-300);
    padding:0.5rem;
    height:8.75rem;
    width:8.75rem;
    border-radius:8px;
    gap:0.5rem;
    text-align: center;
    margin-top:0.5rem;
    box-shadow: var(--box-shadow);
    overflow-y: none;
}

.challenge-card-small p {
    text-wrap:wrap;
}

.challenge-card-small .challenge-image {
    height:5rem;
}

.challenge-card-bottom {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:8px;
    background-color: #98BD55;
    border-radius:0px 0px 8px 8px;
    overflow-y:none;
}

.challengeCardCompleted {
    display:flex;
    flex-direction: row;
    gap:8px;
    border-radius: 8px;
    text-decoration: none;
    padding: 0.4rem 0.9rem;
    color: var(--oatmeal-100);
    background-color: var(--kale);
    cursor: pointer;
}

.challengeCardCompleted p {
    font-weight:var(--font-weight-bold);
    font-size: var(--body-text-small-size)
}


.challenge-card-coming {
    display:flex;
    flex-direction: row;
    background-color: var(--lime-25);
    padding:1rem;
    border-radius:8px 8px 0px 0px;
    gap:2rem;
    margin-top:0.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    width: auto;
    height: 8rem;
}


.no-challenge-card {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--lime);
    padding:1rem;
    border-radius:8px 8px 0px 0px;
    gap:2rem;
    margin-top:0.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    width: auto;
    height: 8rem;
    margin-bottom: 1.5rem;
}

.no-challenge-card img {
    height:7rem;
}

.challenge-card-coming 
.challenge-image, .challenge-card-text {
    opacity: 50%;
}

.challenge-card-coming p{
    font-weight: var(--font-weight-bold);
}


.challenge-card-content {
    display:flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

.no-challenge-card-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}
