.fullPostImage {
  height: 392px;
  width: 100%;
  object-fit: cover;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.bottom8 {
  margin-bottom: 8px;
}

.fullPostBack {
  padding: 16px;
  width: 90vw;
}

.fullPostLower {
  padding-left: 16px;
  padding-right: 16px;
}

.fullPostDescription {
  margin-bottom: 16px;
}

.fullPostLikes {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-family: var(--body-font);
  font-size: var(--body-font);
  margin-bottom: 16px;
}

.fullPostHeart {
  width: 1rem;
}
