.updateHeader {
  position: sticky;
  top: 0;
  background-color: var(--oatmeal-100);
  text-align: center;
  padding: 16px;
}

.updateBack {
  padding: 16px;
  width: 30vw;
  position: absolute;
  top: 0.25rem;
  left: 0.5rem;
  text-align: left !important;
}

.fullPostImage {
  height: 392px;
  width: 100%;
  object-fit: cover;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.fullPostButtons {
  display: flex;
  gap: 1rem;
  margin: auto;
  margin-bottom: 0.5rem;
}

.bottom8 {
  margin-bottom: 8px;
}

.fullPostBack {
  padding: 16px;
  width: 91vw;
  position: sticky;
  top: 0;
  background-color: var(--oatmeal-100);
}

.fullPostLower {
  padding-left: 16px;
  padding-right: 16px;
  color: var(--eggplant-900);
}

.fullPostDescription {
  margin-bottom: 16px;
}

.fullPostLikes {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-family: var(--body-font);
  font-size: var(--body-font);
  margin-bottom: 16px;
}

.fullPostHeart {
  width: 1rem;
}
