:root {
  --lime: rgba(167, 201, 87, 1);
  --kale: rgba(56, 102, 65);
  --green-bean: rgba(106, 153, 78, 1);
  --eggplant-900: rgba(43, 36, 42, 1);
  --eggplant-700: rgba(72, 60, 70, 1);
  --eggplant-25: rgba(198, 193, 187);
  --banana: rgba(255, 212, 73, 1);
  --banana-300: rgba(255, 238, 182, 1);
  --oatmeal: rgba(242, 232, 207, 1);
  --oatmeal-300: rgba(251, 248, 241, 1);
  --oatmeal-100: rgba(254, 253, 250, 1);
  --heading-font: "Merriweather Sans", sans-serif;
  --body-font: "Lato", sans-serif;
  --heading-size: 2.0064rem;
  --subheading-size: 1.672rem;
  --body-text-size: 1.1704rem;
  --body-text-small-size: 1.0032rem;
  --box-shadow: (0px 2px 4px rgba(0, 0, 0, 0.12));
}
