:root {
  --lime: rgba(167, 201, 87, 1);
  --lime-25: rgba(167, 201, 87, 0.25);
  --kale: rgba(56, 102, 65);
  --green-bean: rgba(106, 153, 78, 1);
  --eggplant-900: rgba(43, 36, 42, 1);
  --eggplant-700: rgba(72, 60, 70, 1);
  --eggplant-25: rgba(198, 193, 187);
  --banana: rgba(255, 212, 73, 1);
  --banana-300: rgba(255, 238, 182, 1);
  --oatmeal: rgba(242, 232, 207, 1);
  --oatmeal-300: rgba(251, 248, 241, 1);
  --oatmeal-100: rgba(254, 253, 250, 1);
  --heading-font: "Merriweather Sans", sans-serif;
  --body-font: "Lato", sans-serif;
  --heading-size: 1.5rem;
  --subheading-size: 1.25rem;
  --body-text-size: 0.875rem;
  --body-text-small-size: 0.75rem;
  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  --font-weight-bold: 700;
  --font-weight-regular: 500;
}

body,
html {
  background-color: var(--oatmeal-100);
  color: var(--eggplant-900);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* ---------- Typography ---------- */
h1 {
  font-family: var(--heading-font);
  font-size: var(--heading-size);
  font-weight: var(--font-weight-bold);
  margin: 0;
  padding: 0;
}

h2 {
  font-family: var(--heading-font);
  font-size: var(--subheading-size);
  font-weight: var(--font-weight-bold);
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--body-font);
  font-size: var(--body-text-size);
  font-weight: var(--font-weight-regular);
  margin: 0;
  padding: 0;
}

.small {
  font-family: var(--body-font);
  font-size: var(--body-text-small-size);
  font-weight: var(--font-weight-regular);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.page {
  padding-left: 16px;
  padding-right: 16px;
}

a {
  text-decoration: none;
}

.pageLeftPadding {
  padding-left: 16px;
  margin-bottom: 8rem;
}
